# === Backend (Spring Boot) ===
/backend/target/
*.class
*.jar
*.war
*.log
/backend/.idea/
*.iml
/backend/src/main/resources/application.properties


# === Frontend (React) ===
/frontend/node_modules/
/frontend/build/
frontend/.env

# === General ===
.DS_Store
*.swp
